@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

#root,
body {
  overflow: y-auto;
  height: 100vh;
  font-family: "Lato";
  background: linear-gradient(to right, #4b0082, #800080);
  margin: 0;
  padding: 0;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}
