@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

#root,
body {
  overflow: y-auto;
  height: 100%;
  font-family: "Lato";
  background: linear-gradient(to bottom right, #4b0082, #ff69b4);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}
